:root {
    --surface-a: #191919;
    --surface-b: #191919;
    --surface-c: #4c4c4c;
    --surface-d: #4b4b4b;
    --surface-e: #323232;
    --surface-f: #323232;
    --text-color: #dedede;
    --text-color-secondary: #888888;
    --primary-color: #C5E1A5;
    --primary-color-text: #212529;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --surface-0: #191919;
    --surface-50: #303030;
    --surface-100: #474747;
    --surface-200: #5e5e5e;
    --surface-300: #757575;
    --surface-400: #8c8c8c;
    --surface-500: #a3a3a3;
    --surface-600: #bababa;
    --surface-700: #d1d1d1;
    --surface-800: #e8e8e8;
    --surface-900: #ffffff;
    --gray-50: #e8e8e8;
    --gray-100: #d1d1d1;
    --gray-200: #bababa;
    --gray-300: #a3a3a3;
    --gray-400: #8c8c8c;
    --gray-500: #757575;
    --gray-600: #5e5e5e;
    --gray-700: #474747;
    --gray-800: #303030;
    --gray-900: #191919;
    --content-padding:0.571rem 1rem;
    --inline-spacing:0.5rem;
    --border-radius:3px;
    --surface-ground:#191919;
    --surface-section:#191919;
    --surface-card:#323232;
    --surface-overlay:#323232;
    --surface-border:#4b4b4b;
    --surface-hover:#4c4c4c;
    --maskbg: rgba(0, 0, 0, 0.4);
    --focus-ring: 0 0 0 0.1rem white;

    --card-common-background: rgb(77, 57, 38);
    --card-common-text: rgb(255,255,255);
    --card-common-title: rgb(2,186,2);
    --card-description-font: rgb(3, 3, 112);
    --card-text-font: rgb(133, 47, 16);
    --card-text-value-font: rgb(255,0,0);
    --card-constraint-plant-font: var(--card-common-text);
    --card-constraint-sleep-font: rgb(160, 81, 163);
    --card-constraint-water-font: rgb(15,161,218);
    --card-extras-background: rgb(194,192,193);
    --card-extras-border: rgb(154,154,154);
    --card-plant-background: rgb(253,199,136);
    --card-plant-media-border: rgb(94,41,13);
    --card-plant-border: rgb(142,66,27);
    --card-plant-title: rgb(177,165,33);
    --card-zombie-background: rgb(185,170,200);
    --card-zombie-media-border: rgb(46,62,26);
    --card-zombie-border: rgb(88,86,103);
    --card-zombie-title: var(--card-common-title);
    color-scheme: dark;
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

@keyframes p-component-overlay-enter-animation {
    from {
      background-color: transparent;
    }
    to {
      background-color: var(--maskbg);
    }
}
@keyframes p-component-overlay-leave-animation {
    from {
      background-color: var(--maskbg);
    }
    to {
      background-color: transparent;
    }
}